body {
	border: 20px solid #bdc3c7;
	width: 50%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	margin-left: 22%;
	margin-top: 20px;
	padding: 20px;
}

/*date color: #3498db
h2 color: #2c3e50
font: source sans pro*/

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.frontquote {
	border-left: 2px solid #bdc3c7;
	padding: 2px;
}